@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #fff;

  /* Make body a flex container to center the content */
  display: flex;
  justify-content: center; /* center horizontally */
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

.animate-fade-in {
  animation: fade-in 200ms ease-out;
}

/* src/index.css */
.column-gap {
  column-gap: 16px; /* horizontal spacing */
}

